
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    font-family: Bebas Neue;
    font-style: normal;
    font-size: 32px;
    line-height: 36px;
    color: #ffffff;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    margin-right: 20px;
}


.ant-collapse, .ant-collapse-content{
    background-color: transparent;
    border: 0;
    border-top: 2px solid #006D75;
}

.ant-collapse > .ant-collapse-item{
    border-bottom: 2px solid #006D75;
}
.ant-collapse-content-box .ant-collapse{
    border: 0;
}
.ant-collapse-content-box .ant-collapse-item:last-child{
    border-bottom: 0;
}
.ant-collapse-content-box p, .ant-collapse-content .ant-collapse-item .ant-collapse-content-box, .empty-box{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
    color: #ffffff !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    font-size: 24px;
    transform: rotate(90deg) translate(-50%);
    color: #13C2C2;
}
.ant-collapse-content > .ant-collapse-content-box {
    padding: 6px 16px 30px 0;
}

.imageArrow{
    transition: all .3s;
    transform: rotate(180deg);
    float: right;
    margin-top: 12px;
    margin-left: 10px;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    padding: 20px 22px 20px 0;
}

.ant-collapse-content-active{
    border-top:0;
}

.ant-collapse-content .ant-collapse-content-box .ant-collapse .ant-collapse-header{
    padding-left: 20px;
    font-size: 28px;
}

.ant-collapse-content .ant-collapse-content-box .ant-collapse .ant-collapse-content-box{
    padding-left: 20px;
}