

.ContentGame{
  background: #00181D;
  padding: 41px 66px 90px;
  font-family: Roboto;
  color: #fff;
  min-height: 100%;
  &__title{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 72px;
    line-height: 74px;
    color: #ffffff;
    margin-top: -2px;
    letter-spacing: 3px;
    margin-bottom: 29px;
    &_offset{
      margin-top: 40px;
    }
  }
}

.preloader{
  display: flex;
  justify-content: center;
}